  <h1> BOLT CLASSES </h1>
  <hr>
  <br>
  
  Instructor: <%= @run_session.instructor %>
  <br>
  <br>
  Date: <%= @run_session.start_date %>
  <br>
  <br>
  Duration: <%= @run_session.duration%>
  <br>
  <br>
  Studio: <%= @run_session.location %>
  <br>
  <br>
  Capacity: <%= @run_session.capacity %>
  <br>
  <br>


 
  