<section id="showcase">
    <div class="container">
    <h1> Select a Class </h1>

        <% if flash[:errors] %>
        <% flash[:errors].each do |error | %>
        <li style="color:red"> <%= error %> </li>
        <% end %> 
        <% end %>

        <%= form_for @enrollment do | f | %>
        <%= f.hidden_field :member_id, value: session[:id] %>
        Class: <%= f.collection_select :run_session_id, RunSession.all, :id, :start_date %>
        <%= f.submit "Join Class" %>
        <% end %>
        
    </div>
</section>

<br>