<section id="showcase">
    <div class="container">

        <h1>  BOLT LOCATIONS </h1>
        <hr>
    </div>
</section>

<div class="container">
<section id="main">

<h1> All the <%= @gym_type %> Gyms </h1>

<ul>
    <% @gyms.each do |gym| %>
        <li> 
        <%= link_to gym.display_name, gym_path(gym) %>
        </li> 
    <% end %>

</ul>

<form action= <%=gyms_path%> method="GET">
    <div>
        <input type="radio" name="indoor_or_outdoor" value="true" <%= @gym_type == "Indoor" ? "checked" : nil %>>
        <label for="true">Only Indoor</label>
    </div>
    <div>
        <input type="radio" name="indoor_or_outdoor" value="false" <%= @gym_type == "Outdoor" ? "checked" : nil %>>
        <label for="false">Only Outdoor</label>
    </div>
    <div>
        <input type="radio" name="indoor_or_outdoor" value="all"m<%= @gym_type.nil? ? "checked" : nil %>>
        <label for="all">All gyms</label>
    </div>
    <div>
        <input type="submit">
    </div>
</form>

</section>
</div>

<br>