<!DOCTYPE html>
<html>
  <head>
    <title>Bolt</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="main-header">
      <div class="container">
        <h1>Bolt</h1>
      </div>
    </header>

    <nav id="navbar">
      <div class="container">
        <ul>
          <li>
          <%= link_to "home", home_path %>
          </li>
          <li>
          <%= link_to "membership", membership_path %>
          </li>
          <li>
          <%= link_to "locations", gyms_path %>
          </li>
          <li>
          <%= link_to "classes", run_classes_path %>
          </li>
          <li>
          <%= link_to "training", training_path %>
          </li>
          <li>
          <%= link_to "virtual", virtual_path %>
          </li>
          <li>
<<<<<<< HEAD
          <%= link_to "login", login_path %>
=======
          <%= link_to "Coaches", run_sessions_path %>
          </li>
          <li>
          <%= link_to "Login", login_path %>
>>>>>>> d5bc78334727184ac09549bcb2388344d31e6d48
          </li>
          <li>
            <%= link_to "join now", new_member_path %>
          </li>
        </ul>
      </div>
    </nav>
    


    <%= yield %>

    <footer id="main-footer">
      <p class=text-muted">&copy; 2021 Bolt Coportation. All rights reserved. Bolt Copyright Policy<p>
    </footer>
    </div>
  </body>
</html>
