<section id="showcase">
    <div class="container">
    <h1> Join Bolt </h1>

        <% if flash[:errors] %>
        <% flash[:errors].each do |error | %>
        <li style="color:red"> <%= error %> </li>
        <% end %> 
        <% end %>

        <%= form_for @member do | f | %>
        <%= f.label :name %> 
        <%= f.text_field :name %> <br>
        <%= f.label :age %> 
        <%= f.text_field :age %> <br>
        <%= f.label :email %>
        <%= f.text_field :email %> <br>
        <%= f.label :password %>
        <%= f.password_field :password %> <br>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %> <br><br>
        <%= f.submit %>
        <% end %>
    </div>
</section>