<section id="showcase">
    <div class="container">
    <h1> Welcome <%= @member.name %> </h1>
    </div>
</section>

<div class="container">
<section id="main">

    <hr/>
    <h3> Runner Profile </h3>

    <%= link_to "Edit your Profile", edit_member_path %> 


    <h3> Age: <%= @member.age %> </h3>

    <%= "Favorite Classes" %>
    <ul>
    <% @member.favorite_classes.each do | fc | %>
    <li>
    <%= fc.run_class.name %>
    - <%= fc.run_class.level %>  
    </li>
    <% end %>
    </ul>

    <%= link_to "Add favorite classes", enrollments_path %> 

    <%= "Current Schedule" %>
    <ul>
    <% @member.enrollments.each do | e | %>
    <li>  
    <%= e.run_session.instructor %>
    in Studio <%= e.run_session.location %> 
    for <%= e.run_session.duration %> minutes 
    on <%= e.run_session.start_date %>    
    </li>
    <% end %>
    </ul>

    <%= link_to "Sign up for more classes", new_enrollment_path %> 



    <br>
    <br>
    <br>
    <%= button_to "Log Out", logout_path, method: :delete %>

</section>
</div>

<br>